:root {
    --primary-color: #004d7a;
    --secondary-color: #328cc1;
    --accent1-color: #7082ad;
    --accent2-color: #1d2731;

    --heading-font: Arial, sans-serif;
    --body-font: Verdana, sans-serif;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: var(--body-font);
    color: var(--accent2-color);
}

/* Layout width */
header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

/* Headings */
h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

/* Spacing */
nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

/* Hero Section */
.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

/* Hero Title */
.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: #0b3c5d color;
    #fff,
}

/* Hero Article */
.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

/* Article Image */
.hero article img {
    float: right;
    width: 125px;
    margin-left: 10px;
}

/* Navigation */
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Social Media */
.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 30px;
}